<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light"/>
                <p class="text-faded">Hi, I’m Raf—short for Rafael!</p>
                <p class="text-faded">I’m originally from Portugal but have been living in Bristol for nearly nine years now (time really flies!).</p>
                <p class="text-faded">I’ve been working in the fitness industry since 2011, starting in Portugal and continuing here in Bristol. Most of my career has been focused on coaching small group classes, particularly as a CrossFit Coach. In early 2024, I earned my CF Level 3 qualification.</p>
                <p class="text-faded">I have a bachelor’s degree in Education and Physical Activity and have had the opportunity to work with a wide range of individuals, including:</p>
                <ul class="text-faded text-left">
                    <li>Teens (11+)</li>
                    <li>Adults</li>
                    <li>Pre- and postnatal clients</li>
                    <li>Seniors with varying levels of mobility and independence</li>
                </ul>
                <p class="text-faded">I’m passionate about helping people move better, feel stronger, and enjoy their training. Looking forward to working with you!</p>
            </div>
        </div>
    </div>
</section>
