<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Transform Your Body, Transform Your Life</h2>
                <hr class="light">
                <p class="text-faded">Welcome to Raf Bristol Peronal Training, where personalized fitness meets sustainable results. As your dedicated personal trainer, I’m here to help you unlock your full potential through customized workout plans, expert guidance, and unwavering support.</p>
                <p class="text-faded">Let’s make fitness a part of your life—not just a short-term goal. Together, we’ll create a healthier, stronger, and happier you.</p>
                <a href="#" class="btn btn-default btn-xl">Start Your Journey!</a>
            </div>
        </div>
    </div>
</section>
