<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="light">
                <h2>Personal Training</h2>
                <p class="text-faded">Personal training can take many forms but it’s core is a training programme that is individualised for a specific person.</p>
                <p class="text-faded">This can take form with in person sessions, where the personal trainer and client meet in a gym and go through the session together, programme where exercises with instructions are sent to the client to follow on their own, or a mixture of both.</p>
                <p class="text-faded">Different people will prefer different approaches, but it often works to have sessions in person to better learn technique and develop confidence and as this gets better clients can move to work on their own in the comfort of their homes with very little equipment (2 DB that you can hide under the sofa!)</p>

                <h3>Who is it for</h3>
                <p class="text-faded">Exercise is vital to everyone and everyone should train regularly 2 to 3 times per week. Training once per week is immeasurable better than 0 and every step matters.</p>
                <p class="text-faded">Sessions don’t always have to be one hour long, especially as you are starting.</p>
                <p class="text-faded">The amount of online information can be off putting and commercial gyms can be a little too much, so choosing professional help to get a filter through all the information can be the best decision</p>

                <h3>Reasons to train</h3>
                <p class="text-faded">Here is a link from the NHS on why building bone density is important: <a href="https://www.nhsinform.scot/healthy-living/preventing-falls/keeping-well/bone-health-and-falls/" target="_blank">https://www.nhsinform.scot/healthy-living/preventing-falls/keeping-well/bone-health-and-falls/</a></p>
                <p class="text-faded">Did you know that stronger bones are more resilient to breaking? Muscles attach to bones, so a very effective way of training the bones is by training the muscle around it.</p>
                <p class="text-faded">Here are the guidelines from the NHS on physical activity: <a href="https://www.nhs.uk/live-well/exercise/physical-activity-guidelines-for-adults-aged-19-to-64/" target="_blank">https://www.nhs.uk/live-well/exercise/physical-activity-guidelines-for-adults-aged-19-to-64/</a></p>
            </div>
        </div>
    </div>
</section>
